.container.slp-container
  .row.u-margin-top-lg.u-margin-bottom-lg
    .col-md-12
      %h1 Call for proposals (CFP)

      - if current_page.data.cfp_date
        - cfpDate = Time.parse(current_page.data.cfp_date)
      - else
        - cfpDate = Time.parse("2010-01-01")
      - currentTime = Time.now.in_time_zone("Pacific Time (US & Canada)")

      - if (cfpDate > currentTime && current_page.data.event_register_url)
        %p The CFP window is open! We’re currently accepting proposals for 30-minute lectures or panels, 20-minute live coding demos, 10-minute lightning talks, and ideas for Birds of a Feather sessions. Commit is a two-day virtual event, so speakers from anywhere in the world are welcome to submit a proposal.
        %p We invite you to speak at GitLab Commit and contribute your voice to tell the story of how software professionals iterate and innovate. Whether your talk focuses on how to bring ideas to market, serve customers, or solve complex problems, we want to share your ideas and learn from your experiences. 
        %p We’re looking for stories that showcase the power of DevOps. We want to know how you use technologies and strategies to iterate, what challenges and successes you’ve experienced, or how you’re innovating and changing the way software is delivered.
        %p
          You don’t have to be a seasoned presenter to speak at Commit. We strongly encourage first-time speakers to submit a proposal and 
          = link_to "email the Commit team", "mailto: commit@gitlab.com"
          with any questions.
        %p 
          Submit your talk by completing the 
          = link_to "CFP form. ", "https://forms.gle/YU2sENCjcFBSv8VF7", target: "_blank"
          The CFP window closes on Friday, April 30, 2021 at 11:59pm Pacific Time (PT) . Accepted speakers will be notified in May.
        %p.u-margin-top-xs
          = link_to "Submit your talk", "https://forms.gle/YU2sENCjcFBSv8VF7", class: "btn cta-btn orange u-margin-top-xs", target: '_blank'

      - else
        %p The CFP window has closed and selected speakers will be notified in May. Check back soon for schedule updates!

    