<%# Implementation of slp-navigation-mobile.vue %>
<div class="navigation-mobile" id="navigation-mobile">
  <header
    class="navigation-mobile__header"
  >
    <a href="/" data-nav="logo">
      <img src="/images/icons/logos/slp-icon.svg" class="navigation-mobile__logo">
    </a>
    <div class="navigation-mobile__right">
      <a
        href="/sales/"
        class="slp-button slp-button--light navigation-mobile__a navigation-mobile__a--sm-hidden"
        data-nav="sales"
      >
        Talk to an expert
      </a>
      <a
        href="/free-trial/"
        class="slp-button navigation-mobile__a"
        data-nav="freetrial"
      >
        Get free trial
      </a>
      <button
      id="search-header"
      aria-label="Search"
      type="button"
      class="navigation-mobile__search js-search-toggle"
      >
        <img src="/images/icons/slp-search.svg" />
      </button>
      <a
        id="navigation-login"
        class="navigation-mobile__search"
        href="https://gitlab.com/users/sign_in"
        data-nav="login"
      >
        <img src="/images/icons/slp-user.svg" class="navigation-mobile__icon" />
      </a>
      <button
        aria-label="Toggle Navigation"
        id="slpMobileNavActive"
        class="navigation-mobile__button"
      >
        <img src="/images/icons/slp-hamburger.svg" class="navigation-mobile__inline-block">
      </button>
    </div>
  </header>
  <div class="navigation-dropdown" id="navigation-dropdown">
    <div
      class="navigation-dropdown__container"
    >
      <div class="slp-form-field" style="position: relative; height: unset; top: unset;">
        <label for="input" class="navigation-mobile__label"></label>
        <input
          type="search"
          id="input"
          name="input"
          placeholder="Search GitLab.com"
          class="navigation-dropdown__input js-search"
        />
        </div>
      </div>
      <% data.navigation.each do |item| %>
        <div class="navigation-dropdown__wrapper">
          <% if !(item.links) %>
            <a
              href="<%= item.url %>"
              class="navigation-dropdown__button"
              data-nav="<%= item.heading %>"
            >
              <%= item.heading %>
            </a>
            <hr class="navigation-dropdown__hr"/>
            <% else %>
              <button class="navigation-dropdown__heading" id="navigation-dropdown__heading" data-nav="header">
                <div class="navigation-dropdown__heading-container">
                  <p class="navigation-dropdown__heading-text"><%= item.heading %></p>
                  <img src="/images/icons/slp-caret-down.svg">
                </div>
              </button>
              <ul class="navigation-dropdown-item">
                <% if item.links[0].subheading %>
                  <% item.links.each do |link| %>
                    <p class="navigation-dropdown-item__subheading">
                      <%= link.subheading %>
                    </p>
                    <% link.links.each do |link| %>
                      <li class="navigation-dropdown-item__item-wrapper navigation-dropdown-item__item-wrapper--subheading">
                        <a
                          href="<%= link.url %>"
                          class="navigation-dropdown-item__item"
                          data-nav="<%= link.name %>"
                        >
                          <%= link.name %>
                        </a>
                      </li>
                    <% end %>
                  <% end %>
                <% else %>
                  <% item.links.each do |link| %>
                    <li class="navigation-dropdown-item__item-wrapper">
                      <a
                      href="<%= link.url %>"
                      class="navigation-dropdown-item__item navigation-dropdown-item--simple"
                      data-nav="<%= link.name %>"
                      >
                        <%= link.name %>
                      </a>
                    </li>
                  <% end %>
                <% end %>
              </ul>
              <hr class="navigation-dropdown__hr slp-my-0" />
              <% end %>
            </div>
          <% end %>
          <a
            href="https://gitlab.com/users/sign_in"
            class="navigation-dropdown__login"
            data-nav="login"
          >
            Login
          </a>
        </div>
        <div
          class="slp-shadow-soft navigation-dropdown-cta"
          id="navigation-dropdown-cta"
        >
          <a 
            href="https://about.gitlab.com/sales/"
            class="slp-button slp-button--light"
            data-nav="sales"
          >
          Talk to an expert
          </a>
          <a
            href="<%= saas_trial_entrypoint_url(glm_content: 'default-saas-trial') %>"
            class="slp-button navigation-dropdown-cta__button"
            data-nav="freetrial"
          >
            Get Free Trial
          </a>
        </div>
  </div>

