%div{ class: "#{content&.background ? content&.background : 'white'}-bg padding-top60 padding-bottom60" }
  .container.centered-image
    .row
      %div{ class: 'col-md-12'}
        = image_tag content.image, class: 'image-centered'
      